/*
Author: Jefferson Riobueno
Author URI: https://jeffersonriobueno.com 
Description:
Version: 0.0.1
License: X
License URI: 
Text Domain: 
*/
::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #171614;
  border: 0px none;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(252, 109, 26);
}
  
::-webkit-scrollbar-track {
  background: #cecece;
  border: 0px none rgb(255, 255, 255);
  border-radius: 50px;
}
  
  
/*GENERAL-----------------------------------------*/
*{
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
  
body {
  font-family: 'Montserrat', sans-serif;
  font-display: fallback;
  color: #171614;
}

.head{
  width: 90%;
  margin: 20px auto;
}
.head .inicio{
    display: block;
    margin: auto 0;
    background: #05569c;
    padding: 5px;
    width: 120px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    margin-top: 3px;
}
.head .upload{
    width: 150px;
    height: 40px;
    background: #ff9120;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    /* margin-left: auto; */
    /* margin-right: 0; */
    /* margin-top: -52px; */
    position: absolute;
    top: 25px;
    right: 100px;
    z-index: 10;
    cursor: pointer;
}
.head .upload p{}

.cuerpo{
  width: 90%;
  margin: auto;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}
.cuerpo > h4{
    padding-left: 28px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 12px;
}
.cuerpo .folder,.cuerpo .file{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cuerpo div > div{
  width: 24%;
  border: 1px solid #bdbdbd;
  padding: 18px 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  border-radius: 7px;
  word-break: break-all;
  text-align: left;
  font-size: 13px;
}
.cuerpo div > div img{
  height: 26px;
  margin-right: 8px;
}
.cuerpo div > div img.descarga{
    height: 31px;
    margin-left: 10px;
    cursor: pointer;
}
.cuerpo div > div img.grafica{
    height: 48px;
    margin: -9px;
    margin-left: 0px;
    cursor: pointer;
}
.cuerpo .dir{
  /* background: #7ba3fb; */
}
.cuerpo .files{
    width: 98%;
    margin: 2px auto;
    padding: 7px;
    /* border: navajowhite; */
    cursor: unset;
}
.cuerpo a.files {
    width: 150px;
    min-height: 160px;
    text-align: center;
    word-break: break-word;
    font-size: 14px;
    margin-bottom: 10px;
}
.cuerpo a.files > img{
    width: 80px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
.cuerpo_error{
    display: flex;
    justify-content: space-around;
}
.cuerpo .data_error{}
.cuerpo .data_error > div{
    width: 400px;
    display: flex;
    padding: 7px;
    margin: 0;
    border-radius: 0;
}
.cuerpo .data_error > div div{
    width: 300px;
    padding: 0;
    margin: 0;
    /* border-radius: unset; */
    border: none;
}
.cuerpo .data_error > div span{}
.cService{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fondo{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #00050a8a;
    display: none;
}
.fondo .modal{
    width: 300px;
    height: 170px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 35px;
}
.fondo .modal p{
    text-align: center;
    font-weight: 600;
}
.fondo .modal .load{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.fondo .modal .load span{
    display: block;
    border-bottom: 3px solid #111;
    border-left: 3px solid #111;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: rotate 2s ease-in-out alternate infinite;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cuerpo .Services, .cuerpo .iis{
    width: 49%;
}
.cuerpo .Services h4, .cuerpo .iis h4{
    padding: 6px;
}
.cuerpo .Services .result, .cuerpo .iis .result{
    width: 100%;
    display: block;
    padding: 0;
    border: none;
    margin: 0;
}
.cuerpo .Services .fila, .cuerpo .iis .fila{
    width: 100%;
    cursor: unset;
    padding: 5px;
    margin: auto;
    border-radius: 0;
}
.cuerpo .Services .fila .box,.cuerpo .iis .fila .box{
    border: none;
    cursor: unset;
    padding: 10px  5px;
}
.cuerpo .Services .fila .box.name,.cuerpo .iis .fila .box.name{
    width: 45%;
}
.cuerpo .Services .fila .box.status,.cuerpo .iis .fila .box.status{
    /* margin-right: 60px; */
    width: 120px;
}
.cuerpo .Services .fila .box.status p,.cuerpo .iis .fila .box.status p{
    background: antiquewhite;
    display: block;
    width: 100%;
    padding: 3px;
    text-align: center;
}
.cuerpo .Services .fila .box.status p.Stopped,.cuerpo .iis .fila .box.status p.Stopped{
    background: #bf3333;
    color: #fff;
}
.cuerpo .Services .fila .box.status p.Running,.cuerpo .iis .fila .box.status p.Started{
    background: #21f15a;
    color: #545454;
}
.cuerpo .Services .fila .btn, .cuerpo .iis .fila .btn{
    background: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 100px;
    cursor: pointer;
    margin: auto;
}
.cuerpo .Services .fila .btn.stop,.cuerpo .iis .fila .btn.stop{
    background: #bbbbbb;
    color: #585555;
}
.cuerpo .Services .fila .btn.start,.cuerpo .iis .fila .btn.start{
    background: #005fb3;
    color: #fff;
}
