/*
Author: Jefferson Riobueno
Author URI: https://jeffersonriobueno.com 
Description:
Version: 0.0.1
License: X
License URI: 
Text Domain: 
*/
::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #171614;
  border: 0px none;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(252, 109, 26);
}
  
::-webkit-scrollbar-track {
  background: #cecece;
  border: 0px none rgb(255, 255, 255);
  border-radius: 50px;
}
  
  
/*GENERAL-----------------------------------------*/
*{
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
  
body {
  font-family: 'Montserrat', sans-serif;
  font-display: fallback;
  color: #171614;
}
.head{
  width: 90%;
  margin: 20px auto;
}
.head .inicio{
    display: block;
    margin: auto 0;
    background: #05569c;
    padding: 5px;
    width: 120px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    margin-top: 3px;
}
.cuerpo{
  width: 90%;
  margin: auto;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}
.cuerpo > h4{
    padding-left: 28px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 12px;
}
.cuerpo .folder,.cuerpo .file{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cuerpo div > div{
  width: 24%;
  border: 1px solid #bdbdbd;
  padding: 18px 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  border-radius: 7px;
  word-break: break-all;
  text-align: left;
  font-size: 13px;
}
.cuerpo div > div img{
  height: 26px;
  margin-right: 8px;
}
.cuerpo .dir{
  /* background: #7ba3fb; */
}
.cuerpo .files{
    width: 98%;
    margin: 2px auto;
    padding: 7px;
    /* border: navajowhite; */
}
.fondo{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #00050a8a;
    display: none;
}
.fondo .modal{
    width: 300px;
    height: 170px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 35px;
}
.fondo .modal p{
    text-align: center;
    font-weight: 600;
}
.fondo .modal .load{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.fondo .modal .load span{
    display: block;
    border-bottom: 3px solid #111;
    border-left: 3px solid #111;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: rotate 2s ease-in-out alternate infinite;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}